services:
    app:
        build:
            context: .
            dockerfile: docker/Dockerfile
        ports:
            - "0.0.0.0:8088:80"
        volumes:
            - .:/var/www/html
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - APP_ENV=local
            - APP_DEBUG=true
            - APP_KEY=${APP_KEY}
            - DB_CONNECTION=mysql
            - DB_HOST=mysql
            - DB_PORT=3306
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - XDEBUG_CONFIG=discover_client_host=true start_with_request=yes
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        environment:
            - MYSQL_DATABASE=gym
            - MYSQL_ROOT_PASSWORD=root
        volumes:
            - mysql-data:/var/lib/mysql
        ports:
            - "3307:3306"

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - "8081:80"
        environment:
            - PMA_HOST=mysql
            - PMA_USER=${DB_USERNAME}
            - PMA_PASSWORD=${DB_PASSWORD}
        depends_on:
            - mysql

volumes:
    mysql-data:
